@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --overlay: var(--overlay);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.9736 0.0057 84.5662);
  --foreground: oklch(0.3900 0.0155 75.1572);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3900 0.0155 75.1572);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3900 0.0155 75.1572);
  --primary: oklch(0.6515 0.0609 168.7072);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8860 0.0283 81.4649);
  --secondary-foreground: oklch(0.5135 0.0237 81.6987);
  --muted: oklch(0.9443 0.0103 81.7949);
  --muted-foreground: oklch(0.6142 0.0220 77.2185);
  --accent: oklch(0.9427 0.0189 67.5952);
  --accent-foreground: oklch(0.5135 0.0237 81.6987);
  --destructive: oklch(0.6786 0.1225 20.7883);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8860 0.0283 81.4649);
  --input: oklch(0.8860 0.0283 81.4649);
  --ring: oklch(0.6515 0.0609 168.7072);
  --chart-1: oklch(0.6515 0.0609 168.7072);
  --chart-2: oklch(0.7157 0.0560 144.9619);
  --chart-3: oklch(0.7879 0.0527 123.3424);
  --chart-4: oklch(0.8608 0.0573 100.8888);
  --chart-5: oklch(0.9427 0.0189 67.5952);
  --sidebar: oklch(0.9443 0.0103 81.7949);
  --sidebar-foreground: oklch(0.3900 0.0155 75.1572);
  --sidebar-primary: oklch(0.6515 0.0609 168.7072);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8860 0.0283 81.4649);
  --sidebar-accent-foreground: oklch(0.5135 0.0237 81.6987);
  --sidebar-border: oklch(0.8357 0.0240 82.1119);
  --sidebar-ring: oklch(0.6515 0.0609 168.7072);
  --overlay: oklch(0.0000 0 0 / 0.5);
  --font-sans: var(--font-geist-sans), ui-sans-serif, sans-serif, system-ui;
  --font-serif: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius: 0.75rem;
  --shadow-2xs: 0px 4px 12px -2px hsl(35.5556 12.5581% 57.8431% / 0.05);
  --shadow-xs: 0px 4px 12px -2px hsl(35.5556 12.5581% 57.8431% / 0.05);
  --shadow-sm: 0px 4px 12px -2px hsl(35.5556 12.5581% 57.8431% / 0.10), 0px 1px 2px -3px hsl(35.5556 12.5581% 57.8431% / 0.10);
  --shadow: 0px 4px 12px -2px hsl(35.5556 12.5581% 57.8431% / 0.10), 0px 1px 2px -3px hsl(35.5556 12.5581% 57.8431% / 0.10);
  --shadow-md: 0px 4px 12px -2px hsl(35.5556 12.5581% 57.8431% / 0.10), 0px 2px 4px -3px hsl(35.5556 12.5581% 57.8431% / 0.10);
  --shadow-lg: 0px 4px 12px -2px hsl(35.5556 12.5581% 57.8431% / 0.10), 0px 4px 6px -3px hsl(35.5556 12.5581% 57.8431% / 0.10);
  --shadow-xl: 0px 4px 12px -2px hsl(35.5556 12.5581% 57.8431% / 0.10), 0px 8px 10px -3px hsl(35.5556 12.5581% 57.8431% / 0.10);
  --shadow-2xl: 0px 4px 12px -2px hsl(35.5556 12.5581% 57.8431% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2857 0.0077 84.5931);
  --foreground: oklch(0.8860 0.0283 81.4649);
  --card: oklch(0.3303 0.0096 80.6679);
  --card-foreground: oklch(0.8860 0.0283 81.4649);
  --popover: oklch(0.3303 0.0096 80.6679);
  --popover-foreground: oklch(0.8860 0.0283 81.4649);
  --primary: oklch(0.7177 0.0572 172.4131);
  --primary-foreground: oklch(0.2857 0.0077 84.5931);
  --secondary: oklch(0.3900 0.0155 75.1572);
  --secondary-foreground: oklch(0.8860 0.0283 81.4649);
  --muted: oklch(0.3900 0.0155 75.1572);
  --muted-foreground: oklch(0.6781 0.0264 77.3685);
  --accent: oklch(0.4560 0.0163 78.1479);
  --accent-foreground: oklch(0.9443 0.0103 81.7949);
  --destructive: oklch(0.6185 0.0971 20.2207);
  --destructive-foreground: oklch(0.2857 0.0077 84.5931);
  --border: oklch(0.3900 0.0155 75.1572);
  --input: oklch(0.3900 0.0155 75.1572);
  --ring: oklch(0.7177 0.0572 172.4131);
  --chart-1: oklch(0.7177 0.0572 172.4131);
  --chart-2: oklch(0.7476 0.0677 144.8606);
  --chart-3: oklch(0.7861 0.0489 144.1447);
  --chart-4: oklch(0.8354 0.0389 142.8115);
  --chart-5: oklch(0.8843 0.0292 140.4806);
  --sidebar: oklch(0.3303 0.0096 80.6679);
  --sidebar-foreground: oklch(0.8860 0.0283 81.4649);
  --sidebar-primary: oklch(0.7177 0.0572 172.4131);
  --sidebar-primary-foreground: oklch(0.2857 0.0077 84.5931);
  --sidebar-accent: oklch(0.3900 0.0155 75.1572);
  --sidebar-accent-foreground: oklch(0.8860 0.0283 81.4649);
  --sidebar-border: oklch(0.4560 0.0163 78.1479);
  --sidebar-ring: oklch(0.7177 0.0572 172.4131);
  --overlay: oklch(0.0000 0 0 / 0.8);
  --font-sans: var(--font-geist-sans), ui-sans-serif, sans-serif, system-ui;
  --font-serif: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius: 0.75rem;
  --shadow-2xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 12px -2px hsl(0 0% 0% / 0.20), 0px 1px 2px -3px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 12px -2px hsl(0 0% 0% / 0.20), 0px 1px 2px -3px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 12px -2px hsl(0 0% 0% / 0.20), 0px 2px 4px -3px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 12px -2px hsl(0 0% 0% / 0.20), 0px 4px 6px -3px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.20), 0px 8px 10px -3px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --overlay: var(--overlay);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}